# Blocklist files/folders in same directory as the .gitignore file
*

# Includelist some files
!.gitignore
!cansiglyzer.ipynb
!helper_functions.py
!model.py
!bccc.jpg
!can-mirgu_features.ipynb
!LICENSE
!README.md